---
export async function GET() {
  return new Response(null, {
    status: 302,
    headers: {
      Location: '/blog/page/1',
    },
  });
}
---

<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; URL=/blog/page/1" />
  </head>
  <body>
    <p>Redirecting to <a href="/blog/page/1">/blog/page/1</a>…</p>

    <noscript>
      <meta http-equiv="refresh" content="0; URL=/blog/page/1" />
    </noscript>
  </body>
</html>
