---
import client from '../../tina/__generated__/client';
import SanitizedFooterText from '../../tina/pages/SanitizedFooterText.';
import config from '../content/config/config.json';
import HeaderLink from './HeaderLink.astro';
import IconLink from './react/IconLink';
import ScrollToTop from './react/ScrollToTop';

const today = new Date();
const footerNav = config['footerNav'];
const footerData = await client.queries.footer({ relativePath: 'footer.mdx' });
---

<footer class="bg-[#1f1e24] text-white px-4 py-10 text-sm">
  <div class="grid gap-8 md:grid-cols-3">
    <div class="flex">
      <SanitizedFooterText {...footerData} client:load />
    </div>

    <div class="flex justify-center">
      {config.contactLinks?.map((link) => <IconLink {...link} className="text-white hover:text-orange-500" />)}
    </div>

    <ul class="flex gap-3 justify-end">
      {
        footerNav.map((item) => (
          <HeaderLink href={item.link} isFooter>
            {item.title}
          </HeaderLink>
        ))
      }
    </ul>
  </div>

  <div class="mt-10 flex justify-center gap-4">
    <p class="text-slate-50 text-xs">&copy; {today.getFullYear()} {config.seo.siteOwner}. All rights reserved.</p>
  </div>
</footer>
<ScrollToTop client:load />
